<div class="container">
  <h2 class="text-center">Login</h2>
  <form #ref="ngForm" (ngSubmit)="onSubmit(ref)">
    <input
      #email="ngModel"
      name="email"
      ngModel
      type="email"
      class="form-control"
      placeholder="Enter email"
      required
      email
    />
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
      Email is NotValid
    </div>
    <input
      #pass="ngModel"
      name="password"
      ngModel
      type="password"
      class="form-control"
      placeholder="Your Password"
      required
      minlength="6"
    />
    <div class="alert alert-danger" *ngIf="pass.invalid && pass.touched">
      Password is Smaller Than 6
    </div>

    <button class="btn btn-success" [disabled]="ref.invalid">Login</button>
  </form>
  <br />
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
